name: 'Pull Request Build'

on:
  merge_group:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches:
      - main

permissions:
  actions: write
  pull-requests: write
  deployments: write
  checks: write
  statuses: write
  contents: write

jobs:
  dependency-review:
    name: Review dependency graph
    runs-on: macos-14
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: '18'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        with:
          dependency-graph-include-configurations: '.+(Compile|Runtime)Classpath'
          add-job-summary-as-pr-comment: 'always'

      - name: Perform dependency review
        uses: actions/dependency-review-action@v4
        with:
          comment-summary-in-pr: 'always'

  build:
    if: ${{ !github.event.pull_request.draft }}
    name: Build Project
    runs-on: macos-14
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.3'

      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: '18'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Cache konan
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-konan-

      - name: Run tests
        run: ./gradlew check

      - name: Build packages
        run: ./gradlew -PsignPublications=false publishToMavenLocal

      - name: Publish Test Report
        uses: turing85/publish-report@v2
        if: always()
        with:
          report-path: '**/test-results/**/*.xml'
